.heading  
{ 
    width: 100%;
    text-align: left;
    font-family: 'Fruktur', cursive;
}
.heading button{
    float: right;
    border:1px solid grey;
}
#restart , #status
{
    font-size: 22px;
}
h4
{
    background-color: whitesmoke;
    line-height: 2;
    margin: 0px;
    bottom: 0px;
}
.modal-dialog
{
    width: 90%;
}
